<launch>

    <param name="initial_pose_x" value="0.00815962441266" />
    <param name="initial_pose_y" value="0.003059721319" />
    <param name="initial_pose_theta" value="-0.02398" />

    <node pkg="project1" type="odom_pub" name="odom_pub" />
    <node pkg="project1" type="vel_pub" name="vel_pub" />
    <node pkg="project1" type="inverter" name="inverter" />
    <node pkg="project1" type="synchronizer" name="synchronizer" />

    <arg name="bag_file_name" value="bag1" />

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock $(find project1)/bags/$(arg bag_file_name).bag"/>

</launch>
