<launch>

	<!-- Name of the map to use and initial position -->
	<arg name="map_file"       default="$(find project2)/map/map.yaml"/>
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>

	<arg name="odom_frame_id"   default="odom"/>
	<arg name="global_frame_id" default="map"/>

	<param name="/use_sim_time" value="true"/>

	<!--  ****** map *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="map"/>
	</node>

	<!--  ************** add path drawer processing node  ***************  -->
	<node pkg="project2" type="sub.py" respawn="false" name="path_finder" output="screen"/>

	<!--  ************** add odom tf  ***************  -->
	<node pkg="project2" type="odom_tf" respawn="false" name="odom_tf"/>

	<!-- **************  scan_merger **************  -->
	<include file="$(find project2)/launch/scan_merger.launch"/>

	<!--  ****** amcl *****  -->
	<include file="$(find project2)/config/amcl.launch.xml">
		<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
		<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
	</include>

	<!--  **************** visualisation ****************  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2)/config/localization_config.rviz"/>

</launch>