<launch>
	<arg name="bag_file_name" value="robotics1_final" />
  	<param name="/use_sim_time" value="true"/>

	<!--  ************** add static tf broadcasters  ***************  -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_front" args="0.35 0.0 0.0 0.0 0.0 0.5150381 0.8571673 base_link laser_front 100" />

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_rear" args="-0.35 0.0 0.0 0.0 0.0 0.866 0.5 base_link laser_rear 100" />

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_scan" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link scan 100" />

  	<!--  ************** add odom tf  ***************  -->
	<node pkg="project2" type="odom_tf" respawn="false" name="odom_tf"/>

	<!--  ************** add map processing node  ***************  -->
   	<node pkg="project2" type="occupancy_grid_processing.py" respawn="false" name="occupancy_grid_processing" output="screen"/>

	<!-- **************  scan_merger **************  -->
  	<include file="$(find project2)/launch/scan_merger.launch"/>
  
	<!-- **************  gmapping config **************  -->  
  	<include file="$(find project2)/config/gmapping.launch.xml"/>

	<!-- **************  bag **************  --> 
    	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock $(find project2)/bags/$(arg bag_file_name).bag"/>

</launch>

